

// Base Spacing Unit
$spacing-unit: 8px;

// Spacing Scale
$spacing-xxs: $spacing-unit * 0.25; // 2px
$spacing-xs: $spacing-unit * 0.5;  // 4px
$spacing-sm: $spacing-unit;        // 8px
$spacing-md: $spacing-unit * 2;    // 16px
$spacing-lg: $spacing-unit * 3;    // 24px
$spacing-xl: $spacing-unit * 4;    // 32px
$spacing-xxl: $spacing-unit * 5;   // 40px
